<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/admin/css/styles.min.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body class="login-register-body">
    <img class="login-register-bg-image" src="~/Images/loginbg.jpg"/>
    @RenderBody()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</body>
</html>
